.body {
  background: linear-gradient(#BAF300, #FFFFFF 50%);
}

.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form {
    margin-top: auto;
}

.cards {
    margin-top: var(--gap-m);
    align-self: center;
}